.card {
  border: 1px solid rgb(199, 189, 189);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.103);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgba(41, 40, 40, 0.904);
}

.card .card-text {
  font-family: Arial, sans-serif;
  color: rgba(41, 40, 40, 0.568);
}

.student {
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid rgb(163, 153, 153);
}

.student > p {
  margin: 0;
}

.welcome-message {
  font-size: 2.5em;
  background-color: rgb(98, 128, 173);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt {
  font-size: 2.5em;
  background-color: rgb(240, 27, 27);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}